<div data-role="content">
	<ul id="movielist" data-role="listview" data-theme="g">
		<% @movies.each do |movie| %>
		<li data-theme="g">
			<a href="/movies/<%=movie.id%>" class="ui-link-inherit">
				<img src="<%=movie.image_src%>">
				<h3 class="ui-li-heading"><%= movie.title%></h3>
				<p class="ui-li-desc"><%= movie.stars%></p>
				<p class="ui-li-desc"><%= movie.rate%> <%= movie.total_time%></p>
				<p class="ui-li-desc"><%= movie.showtime.strftime("%B %d, %Y")%></p>
			</a>
		</li>
		<% end %>
	</ul>
</div>
