<div data-role="content">
	<ul data-role="listview" data-theme="g">
		<% @movies.each do |movie| %>
		<li>
			<a href="/movies/<%=movie.id%>" class="ui-link-inherit">
				<h3><%= movie.title%></h3>
				<h2><%= movie.stars%></h2>
				<h2><%= movie.rate%> <%= movie.total_time%></h2>
				<h2><%= movie.showtime%></h2>
			</a>
		</li>
		<% end %>
	</ul>
</div>

<!-- <table>
  <tr>
    <th>Title</th>
    <th>Stars</th>
    <th>Rate</th>
    <th>Total time</th>
    <th>Showtime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title %></td>
    <td><%= movie.stars %></td>
    <td><%= movie.rate %></td>
    <td><%= movie.total_time %></td>
    <td><%= movie.showtime %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Movie', new_movie_path %> -->
